@import "normalize";
@import "headFoot";

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

body {
    background: no-repeat;
}

.upcoming {
    width:90%;
    margin:0 auto;
    padding:10px;
    background-color:white;

}

.title {
    width:80%;
    margin:0 auto;
    padding:0px;

    h1{
            font-family: 'Tajawal', sans-serif;
            color:white;
            text-transform:uppercase;
            letter-spacing:.5rem;
            font-size: 3rem;
            border-bottom:1px solid white;
            margin:50px 0px 30px 0px;
    }
}


.LiveEvent:hover {
    background-color:#2F4F4F;
    color:white;
    border:2px solid black;
    padding:20px;
    margin: 20px;
    .socialLink{
        color:white;
    }
}

.LiveEvent {
    color:black;
    border-bottom:2px solid black;
    border-left:2px solid black;
    border-top:2px solid white;
    border-right:2px solid white;
    padding:20px;
    margin: 20px;
    transition:all .3s;

    
    h1 {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 1.6rem;
        text-transform:lowercase;
        letter-spacing: .1rem;
        font-weight:400;
        display:inline-block;
        padding-right: 20px;
     } 

        h2 {
            font-family: 'Tajawal', sans-serif;
            font-size: 1.8rem;
            letter-spacing: .1rem;
            text-transform: uppercase;
            display:inline-block;
            padding-right: 30px;
            margin:0px;
        }

            p{
                font-family: 'Nanum Myeongjo', serif;
                font-size: 2rem;
                font-weight:light;
                display:inline-block;
                padding-right: 30px;
                margin:0px;
            }

                h3 {
                    font-family: 'Nanum Myeongjo', serif;
                    font-size: 1.2rem;
                    letter-spacing:.1rem;
                    margin:0px;
                    display:inline-block;
                }

                    .socialLink{
                        display:block;
                        font-size: 2rem;
                        text-decoration: none;
                        color:black;
                        font-size: 1.5rem;
                        padding: 5px;
                        float:right;  
                        border:1px solid transparent;
                        border-radius:30%;
                        padding:10px;
                    }

                        i{
                            display:inline-block;
                        }
    
}

.socialLink:hover {
    border:1px solid white;
    color:white;
}